body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(img.jpg) no-repeat;
        background-size: cover;
        background-position: center;
}

.title{
    position: absolute;
    text-align: center;
    font-size: 300px;
}

.Proxima-Pag{
    width: 60px;
    height: 60px;
    border-radius: 15px;
}