body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url(img.jpg) no-repeat;
        background-size: cover;
        background-position: center;
}

.titulo{
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    font-size: 300px;
}

.Proxima-Pag{
    left: 90%;
    top: 95%;
    position: absolute;
    width: 700px;
    height: 100px;
    font-size: 60px;
}
