body {
    background-image: url(img.jpg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.form-container {
    position: relative;
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pica-pau.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

.cadastro {
    display: flex;
    flex-direction: column;
}

.form-cadastro {
    margin-bottom: 15px;
}

.form-cadastro input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Envia-Cadastro {
    text-align: center;
}

.cadastro-enviado {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.cadastro-enviado:hover {
    background-color: #45a049;
}

.list-cad{  
    text-align: center;
    margin-top: 20px;
}
